# Database
POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=secret
POSTGRES_DB=ecommerce_dev
DATABASE_URL="postgresql://ecommerce:secret@localhost:5437/ecommerce_dev"

# NextAuth
NEXTAUTH_SECRET=your-secret-here
NEXTAUTH_URL=http://localhost:3000
